@import "_custom-variables.scss";

*{
    box-sizing: border-box;
}

body{
    
    //Background color in the top of the app
    &:before{
        content: "";
        z-index: -1;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: $header-height + ($default-spacing*4);
        background: $primary;
    }
}

.container{
    max-width: 480px;
    margin: 0 auto;
}

.page-container{
    min-height: 100vh;
    transition: all .5s cubic-bezier(.55,0,.1,1);
    padding-bottom: $header-nav-height*1.5;
}


.header-nav{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-nav-height;
    padding: $default-spacing/2 $default-spacing/2 0;
    text-align: left;
    justify-content: space-between;

    &__button{
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        padding: 0;
        color: $white;
        border: 0;
        font-size: $icon-size;
        line-height: 1em;
        cursor: pointer;
        background: transparent;
        outline: none;

        &:nth-child(1){
            .icon{
                float: left;
            }
        }

        .icon{
            float: right;
        }

        &:focus{
            outline: none;
        }
    }
}

.main-header{
    height: $header-height;
    padding: $header-nav-height 0;
    text-align: center;
    color: $white;

    &__title{
        margin: 0;
        font-size: $h1-font-size;
    }

    &__byline{
        opacity: 0.8;
        margin-bottom: $default-spacing;
    }
}



.nav-bar{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $gray-700;
    border-top: 1px solid $gray-300;
    background: rgba($white, 0.9);

    &__item{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        height: $nav-bar-height;
        padding: 0 $default-spacing/2;
        line-height: 1em;
        font-size: $icon-size;
        text-align: center;
        color: inherit;
        border: 0;
        cursor: pointer;
        background: transparent;

        &:hover,
        &:focus{
            color: $secondary;
            text-decoration: none;
        }

        &--highlight{
            // flex-grow: 2;
            // color: $white;
            // background: $success;

            // &:hover,
            // &:focus{
            //     color: $white;
            //     text-decoration: none;
            //     background: darken($success, 5%);
            // }
        }

        span{
            display: block;
        }
    }
}


.status{

    &__container{
        position: fixed;
        top:0; bottom:0;
        left:0; right:0;
        background: #fff;
        
        transition: all .5s cubic-bezier(.55,0,.1,1);
    }

    &__content{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        padding: 0 $default-spacing*2;
        text-align: center;
    }
}