@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?mzqoii') format('truetype'),
    url('../fonts/icomoon.woff?mzqoii') format('woff'),
    url('../fonts/icomoon.svg?mzqoii#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e66b";
}
.icon-cog2:before {
  content: "\e673";
}
.icon-trash2:before {
  content: "\e681";
}
.icon-heart:before {
  content: "\e68c";
}
.icon-star:before {
  content: "\e68d";
}
.icon-star-empty:before {
  content: "\e68f";
}
.icon-equalizer:before {
  content: "\e6f2";
}
.icon-camera2:before {
  content: "\e704";
}
.icon-dumbbell:before {
  content: "\e861";
}
.icon-history2:before {
  content: "\e8e4";
}
.icon-list4:before {
  content: "\e930";
}
.icon-check:before {
  content: "\e934";
}
.icon-plus:before {
  content: "\e936";
}
.icon-chevron-up:before {
  content: "\e939";
}
.icon-chevron-down:before {
  content: "\e93a";
}
.icon-chevron-left:before {
  content: "\e93b";
}
.icon-chevron-right:before {
  content: "\e93c";
}
.icon-arrow-right:before {
  content: "\e944";
}
.icon-chevron-left-circle:before {
  content: "\e964";
}
.icon-chevron-right-circle:before {
  content: "\e965";
}
